{% extends "dashbase.html" %}

{% load static %}

{% block title %}
<title>Currency Converter  | Stoxa</title>
    {% endblock title %}
   

    {% block style %}
    <link rel="stylesheet" href="{% static 'currency.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
      .currencypage {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    {% endblock style %}
  </head>
  <body>
    {% block content %}
    <div class="currencypage">
    <div class="wrapper">
      <header>Currency Converter</header>
      <form action="#">
        <div class="amount">
          <p>Enter Amount</p>
          <input type="text" value="1">
        </div>
        <div class="drop-list">
          <div class="from">
            <p>From</p>
            <div class="select-box">
              <img src="https://flagcdn.com/48x36/us.png" alt="flag">
              <select> <!-- Options tag are inserted from JavaScript --> </select>
            </div>
          </div>
          <div class="icon"><i class="fas fa-exchange-alt"></i></div>
          <div class="to">
            <p>To</p>
            <div class="select-box">
              <img src="https://flagcdn.com/48x36/np.png" alt="flag">
              <select> <!-- Options tag are inserted from JavaScript --> </select>
            </div>
          </div>
        </div>
        <div class="exchange-rate">Getting exchange rate...</div>
        <button>Get Exchange Rate</button>
      </form>
    </div>

  </div>

    <script src="{% static 'currencyjs/country-list.js' %}"></script>
    <script src="{% static 'currencyjs/script.js' %}"></script>
    {% endblock content %}
  </body>
</html>
