{% extends 'authbase.html' %}

{% load static %}

    <title>
        {% block title %}
            Account
        {% endblock %}
    </title>
    
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}


    
</head>
<body>
    

    {% block content %}
    
    {% include "plans.html" %}

    {% endblock %}

</body>
</html>