{% extends "dashbase.html" %}

{% load static %}

  {% block style %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/plans.css' %}">
  <style>
    html{
      font-size: 80%;
    }
    .d-flex {
      display: flex;
      gap: 2.5em;
      justify-content: space-between;
      align-items: center;
    }

    .flex-column {
      flex-direction: column !important;
      align-items: start !important;
    }
    .home-section {
      top:73px !important;
      left: 0 !important;
    }

    .home-section .top {
      position: relative;
      min-height: 250px;
      padding: 10px 2em;
      flex-wrap: wrap;
    }
    .topbar {
      display: none;
      height: 100px;
      padding: 10px 20px;
      background-color: black;
      color: white;
    }

    .topbar #btn {
     
      border-radius: 3px;
    }
    .topbar .d-flex {
      gap: 0.5em !important;
      padding: 20px 10px;
      height: 100px;
    }
    @media screen and (max-width: 700px) {
      .copycard  {
        min-width: 200px !important;
      }
      .sidebar {
        display: none;
      }

      .topbar {
        display: flex !important;
        font-size: 32px;
      }
      .home-section {
        left: 0 !important;
        width: 100% !important;
      }
      .open {
        width: 25px;
        display: block !important;
        
        animation: slideinO .6s ease;
      }
      @keyframes slideinO {
        0% {
          width: 30px;
        }
        100%{
          width: 250px;
        }
      }


      .home-section .top,
      .PortFolio,
      .tradercards {
        flex-direction: column;
        padding: 10px 0.5em !important;

      }

      .home-section .top img {
        width: 100%;
        height: auto !important;
      }

      .PortFolio .list {
        justify-content: space-between;
        width: 100%;
      }
    }

    .astretch {
      align-items: stretch;
    }

    .flex-start {
      justify-content: start !important;
      gap: 0.5em;
    }

    .top .fs-1 {
      font-size: 300%;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .top .fs-4 {
      margin-top: -1.6em;
      line-height: normal;

    }

    .top .btn-sm {
      height: 45px;
      min-width: 250px;
      background-color: black;
      color: white;
      border: 0;
      outline: 0;
      border-radius: 15px;
    }
    

    .PortFolio {
      padding: 2em;
      min-height: 60px;
      flex-wrap: wrap;
    }

    .PortFolio input {
      height: 40px;
      border-radius: 5px;
      border: 1px solid rgb(172, 172, 172);
      width: 300px;
      font-size: 120%;
      padding: 0 20px;
    }

    .PortFolio p {
      font-size: 120%;
      font-weight: 700;
      line-height: normal;
      color: var(--text-color);
    }

    .tradercards > div {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .copycard {
      flex: 1;
      padding: 1.5em;
      
      min-width: 280px;
     

      color: var(--text-color);
      display: flex;
      gap: 1em;
      flex-direction: column;
      border-radius: 12px;
      border: 1px solid gainsboro;

    }

    .trader-sc {
      height: auto !important;
      bottom: auto !important;
      padding-bottom: 2em;
    }

    .protext h2 {
      font-size: 120%;
      font-weight: 500;
    }

    .protext p {
      font-size: 60%;
      font-weight: 500;
    }

    .roitext p {
      font-size: 70%;
      font-weight: 500;
    }

    .roitext span {
      font-size: 70%;
      font-weight: 500;
      color: rgb(29, 101, 173);
    }

    .roitext button {
      font-size: 60%;
      font-weight: 500;
      background-color: var(--primary-color);
      padding: 5px 20px;
      outline: 0;
      border-radius: 8px;
      border: 0;
      color: white;
    }

    .tradercards {
      padding: 0;
    }

    .chartapp, #chart {
      display: flex;
      justify-content: space-between;
      padding: 3px 10px;
      align-items: center;
    }

    
    
  </style>
  {%  endblock style %}

  {% block content %}


        
  
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Copy Trading </span>
            </div>
      
      <section>
        
        <div class="tradercards">
          <div>
            
            <div class="copycard">
              <div>
                <div class="d-flex flex-start">
                  <div><img src="" alt="a"></div>
                  <div class="protext">
                    <h2>Centadollar</h2>
                    <p>64/366</p>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D ROI</p>
                  <span>67.87%</span>
                </div>
                <div>
                  Chart
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D PNL</p>
                  <span>+98,000.33</span>
                </div>
                <div class="roitext">
                  <p>7D MDD</p>
                  <span>0.00%</span>
                </div>
              </div>
              <div class="d-flex roitext">
                <p>AUM <span>$40,000.98</span></p>
                <button>Copy</button>
              </div>
            </div>
            <div class="copycard">
              <div>
                <div class="d-flex flex-start">
                  <div><img src="" alt="a"></div>
                  <div class="protext">
                    <h2>Centadollar</h2>
                    <p>64/366</p>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D ROI</p>
                  <span>67.87%</span>
                </div>
                <div>
                  Chart
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D PNL</p>
                  <span>+98,000.33</span>
                </div>
                <div class="roitext">
                  <p>7D MDD</p>
                  <span>0.00%</span>
                </div>
              </div>
              <div class="d-flex roitext">
                <p>AUM <span>$40,000.98</span></p>
                <button>Copy</button>
              </div>
            </div>
            <div class="copycard">
              <div>
                <div class="d-flex flex-start">
                  <div><img src="" alt="a"></div>
                  <div class="protext">
                    <h2>Centadollar</h2>
                    <p>64/366</p>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D ROI</p>
                  <span>67.87%</span>
                </div>
                <div>
                  Chart
                </div>
              </div>
              <div class="d-flex">
                <div class="roitext">
                  <p>7D PNL</p>
                  <span>+98,000.33</span>
                </div>
                <div class="roitext">
                  <p>7D MDD</p>
                  <span>0.00%</span>
                </div>
              </div>
              <div class="d-flex roitext">
                <p>AUM <span>$40,000.98</span></p>
                <button>Copy</button>
              </div>
            </div>
            <div class="copycard">
              <div>
                <div class="d-flex flex-start">
                  <div><img src="" alt="a"></div>
                  <div class="protext">
                    <h2>Centadollar</h2>
                    <p>64/366</p>
                  </div>
                </div>
              </div>

              <div class="chartapp">
                <div class="right">
                  <div class="roitext">
                    <p>7D ROI</p>
                    <span>67.87%</span>
                  </div>
  
                  <div class="roitext">
                    <p>7D PNL</p>
                    <span>+98,000.33</span>
                  </div>
                </div>
                <div id="chart" style="min-width: 30%;"></div>
                <div class="left">
                  <div>
                    Chart
                  </div>
                  <div class="roitext">
                    <p>7D MDD</p>
                    <span>0.00%</span>
                  </div>
  
                </div>
              </div>
              
              
              <div class="d-flex roitext">
                <p>AUM <span>$40,000.98</span></p>
                <button>Copy</button>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
<script type="module" src="{% static 'js/chart.js'  %}"></script>
  {%  endblock content %}
