* {
    margin: 0;
    box-sizing: border-box;
    transition: all 400ms ease-in;
    --text-color : rgb(183, 132, 244) !important;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
   
}
.topview {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomview {
    position: relative;
    display: flex;
    gap: 0;
    flex: 1;

}
.leftview {
    width: 250px;
    
    background: transparent;
}
.rightview {
    flex: 1;
    background: rgb(236, 235, 237);
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.paddingall {
    padding: 1em 40px;
}
.link_item {
    padding: 1.5em 20px 15px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    min-height: 50px;
    
    
    
}

.link_item.active a{
    color: var(--text-color) !important;
    
}

.link_item a {
    text-decoration: none;
    color:  var(--text-color)  !important;
}

a:hover, a:focus, a:active {
    color:  var(--text-color)  !important;
    text-decoration: none;
}




.paddingrwd {
    padding: 32px 12%;
}





.menubar {
    display: none;
}

@media screen and (max-width: 1000px) {
    
    .leftview {
        width: auto !important;
        min-width: none;
        
    }
    .link_item a span {
        display: none;
    }
    .paddingall {
        padding: 1em 20px;
    }
    
    
}

@media screen and (max-width: 700px) {
    body {
        height: auto !important;
    }
    .leftview {
        width: auto !important;
        min-width: none;
        display: none;
        
    }
    .rightview {
        overflow: hidden;
        height: auto !important;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .link_item a span {
        display: none;
    }
    .paddingall {
        padding: 1em 20px;
    }
    .stats {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto !important;
    }
    .transactions {
        position: relative;
        min-height: 100px;
    }

    .paddingrwd {
        padding: 24px 6%;
    }
    .menubar {
        display: block;
    }

    
    
    
}

.link_item box-icon {
    float: right;
    opacity: 0.8;
}
