

{% extends 'base.html' %}

{% load static %}


{% block content %}

<section class="vh-100" style="background-color: #ffffff; margin-top: 3em;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10 ">
        <div class="card d-flex" style="border-radius: 1rem;">
          <div class="row g-0  ">
            
            <div class="col-md-6 col-lg-7  mx-auto">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">

                  {% csrf_token %}

    

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register an account</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg"  name="username"/>
                    <label class="form-label" for="form2Example17">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="tel" id="register_phone" class="form-control form-control-lg" name="phone" />
                    <label class="form-label" for="register_phone">Phone number</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="register_email" class="form-control form-control-lg" name="email" />
                    <label class="form-label" for="register_email">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" name="password2" />
                    <label class="form-label" for="form2Example27">Re-type Password</label>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                  
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="#!"
                      style="color: #393f81;">Login Here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}