.input_box {
  position: relative;
  
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  outline: none;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 80%;
}

.input_box label {
  
   display: inline-block;
    font-size: 14px;
    z-index: 10;
    width: 130px;
    /* transform: translateY(-50%); */
    color: var(--black-light-color);
}

.input_box input {
  border: 1px solid var(--border-color);
   
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 50px;
    min-height: 45px;
    flex: 1;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    outline: none;
    margin: 20px 0;
}

.setting {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
}

.input_box.btn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.input_box.btn button {
  height: 40px;
  width: 120px;
  font-size: 12px;
  background-color: var(--primary-color);
  opacity: 1;
  color: #fff;
  outline: 0;
  border: 0;
}

@media screen and (max-width: 768px) {
  .input_box {
    padding: 0 !important;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}