{%  load static %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}

        {% endblock %}
    </title>
   
    
    {% block css %}
   

    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">

    <!-- CSS Unify Template -->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    <style class="fslightbox-styles">
       
    </style>
   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header id="header" class="navbar border-bottom navbar-expand-lg navbar-end navbar-light navbar-absolute-top navbar-show-hide"
    data-hs-header-options="{
          &quot;fixMoment&quot;: 0,
          &quot;fixEffect&quot;: &quot;slide&quot;
        }" hsheader="true">
    <div class="container ">
        <nav class="js-mega-menu navbar-nav-wrap hs-menu-initialized hs-menu-horizontal">
            <!-- Default Logo -->
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Unify">
                <img class="navbar-brand-logo" src="{% static 'assets/logos/stoxafx.png' %}" alt="Image Description">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdownMine">
                <div class="navbar-absolute-top-scroller">
                    <ul class="navbar-nav nav-pills">
                        <!-- Landings -->
                        <li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options="{
                  &quot;desktop&quot;: {
                    &quot;maxWidth&quot;: &quot;40rem&quot;
                  }
                }">
                            <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle "
                                aria-current="page" href="#" role="button" aria-expanded="false">Contact Us</a>

                            <!-- Mega Menu -->
                            <div class="hs-mega-menu dropdown-menu hs-mega-menu-desktop-lg"
                                aria-labelledby="landingsMegaMenu"
                                style="min-width: 25rem; max-width: 40rem; display: none;">
                                <!-- Main Content -->
                                <div class="row">
                                    <div class="col-lg d-none d-lg-block">
                                        <div
                                            class="d-flex align-items-start flex-column bg-light rounded-3 h-100 p-4">
                                            <span class="fs-3 fw-bold d-block">Landings</span>
                                            <p class="text-body">Accelerate the way your business builds modern
                                                sites at scale.</p>
                                            <div class="mt-auto">
                                                <p class="mb-1"><a class="link link-dark link-pointer"
                                                        href="#">Learn more</a></p>
                                                <p class="mb-1"><a class="link link-dark link-pointer" href="#">Why
                                                        Unify Template</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="navbar-dropdown-menu-inner">
                                            <span class="dropdown-header">Inquire now</span>
                                            <a class="dropdown-item active" href="./index.html"><i
                                                    class="bi-building me-2"></i> Corporate</a>
                                            <a class="dropdown-item " href="./landing-business.html"><i
                                                    class="bi-briefcase me-2"></i> Business <span
                                                    class="badge text-primary">New</span></a>
                                            <a class="dropdown-item " href="./landing-consulting.html"><i
                                                    class="bi-chat-right-dots me-2"></i> Consulting <span
                                                    class="badge text-primary">New</span></a>
                                            <a class="dropdown-item " href="./landing-saas.html"><i
                                                    class="bi-tropical-storm me-2"></i> SaaS</a>
                                            <a class="dropdown-item " href="./landing-services.html"><i
                                                    class="bi-gear me-2"></i> Services</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Main Content -->
                            </div>
                            <!-- End Mega Menu -->
                        </li>
                        <!-- End Landings -->

                        <!-- Pages -->
                        <li class="hs-has-mega-menu nav-item">
                            <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#"
                                role="button" aria-expanded="false">About Us</a>

                            <!-- Mega Menu -->
                            <div class="hs-mega-menu hs-position-right dropdown-menu w-100 hs-mega-menu-desktop-lg fadeOut"
                                aria-labelledby="pagesMegaMenu" style="min-width: 42rem; display: none;">
                                <!-- Main Content -->
                                <div class="navbar-dropdown-menu-inner">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">
                                            <span class="dropdown-header">Company</span>
                                            <a class="dropdown-item " href="./page-about.html">About</a>
                                            <a class="dropdown-item " href="./page-customer-stories.html">Customer
                                                Stories</a>
                                            <a class="dropdown-item " href="./page-customer-story.html">Customer
                                                Story</a>
                                            <a class="dropdown-item " href="./page-help-center.html">Help Center</a>
                                            <a class="dropdown-item " href="./page-help-center-categories.html">Help
                                                Center: Categories</a>
                                            <a class="dropdown-item " href="./page-help-center-article.html">Help
                                                Center: Article</a>
                                        </div>

                                        <div class="col-sm-6 col-lg-3 mt-n5 mt-sm-0 mb-3 mb-lg-0">
                                            <span class="dropdown-header invisible">Company</span>
                                            <a class="dropdown-item " href="./page-careers.html">Careers</a>
                                            <a class="dropdown-item "
                                                href="./page-careers-role-overview.html">Careers: Role Overview</a>
                                            <a class="dropdown-item " href="./page-careers-apply.html">Careers:
                                                Apply</a>
                                            <a class="dropdown-item " href="./page-hire-us.html">Hire Us</a>
                                            <a class="dropdown-item " href="./page-login.html">Log In</a>
                                            <a class="dropdown-item " href="./page-signup.html">Sign Up</a>
                                            <a class="dropdown-item " href="./page-reset-password.html">Forgot
                                                Password</a>
                                        </div>

                                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                                            <span class="dropdown-header">Portfolio</span>
                                            <a class="dropdown-item " href="./portfolio-modern.html">Modern</a>
                                            <a class="dropdown-item " href="./portfolio-case-study.html">Case
                                                Study</a>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <span class="dropdown-header">Specialty pages</span>
                                            <a class="dropdown-item " href="./page-pricing.html">Pricing</a>
                                            <a class="dropdown-item " href="./page-contacts.html">Contacts</a>
                                            <a class="dropdown-item " href="./page-coming-soon.html">Coming Soon</a>
                                            <a class="dropdown-item " href="./page-coming-soon-simple.html">Coming
                                                Soon: Simple</a>
                                            <a class="dropdown-item " href="./page-error-404.html">Error 404</a>
                                            <a class="dropdown-item " href="./page-terms.html">Terms &amp;
                                                Conditions</a>
                                            <a class="dropdown-item " href="./page-privacy.html">Privacy &amp;
                                                Policy</a>
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                                <!-- End Main Content -->
                            </div>
                            <!-- End Mega Menu -->
                        </li>
                        <!-- End Pages -->

                        <!-- Blog -->
                        
                        <!-- Docs -->
                        <li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options="{
                  &quot;desktop&quot;: {
                    &quot;maxWidth&quot;: &quot;20rem&quot;
                  }
                }">
                            <a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#"
                                role="button" aria-expanded="false">Forex Industries</a>

                            <!-- Mega Menu -->
                            <div class="hs-mega-menu hs-position-right-fix dropdown-menu hs-mega-menu-desktop-lg"
                                aria-labelledby="docsMegaMenu"
                                style="min-width: 20rem; max-width: 20rem; display: none;">
                                <!-- Link -->
                                <a class="navbar-dropdown-menu-media-link" href="./documentation/index.html">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="bi-file-earmark-text fs-2 text-dark"></i>
                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <span class="navbar-dropdown-menu-media-title">Documentation <span
                                                    class="badge badge-sm bg-primary rounded-pill ms-1">v3.2.2</span></span>
                                            <p class="navbar-dropdown-menu-media-desc">Development guides for
                                                building projects with Unify</p>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Link -->

                                <div class="dropdown-divider"></div>

                                <!-- Link -->
                                <a class="navbar-dropdown-menu-media-link" href="./snippets/index.html">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="bi-layers fs-2 text-dark"></i>
                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <span class="navbar-dropdown-menu-media-title">Snippets</span>
                                            <p class="navbar-dropdown-menu-media-desc">Move quickly with
                                                copy-to-clipboard feature</p>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Link -->
                            </div>
                            <!-- End Mega Menu -->
                        </li>
                        <!-- End Docs -->

                        <!-- Log in -->
                        <li class="nav-item ms-lg-auto">
                            <a class="btn btn-ghost-dark me-2 me-lg-0" href="{% url 'login' %}">Log in</a>
                            <a class="btn btn-dark d-lg-none" href="{% url 'register' %}">Sign up</a>
                        </li>
                        <!-- End Log in -->

                        <!-- Sign up -->
                        <li class="nav-item">
                            <a class="btn btn-dark d-none d-lg-inline-block" href="{% url 'register' %}">Sign up</a>
                        </li>
                        <!-- End Sign up -->
                    </ul>
                </div>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>
    {% block content %}

        {% endblock %}
        <script type="module" src="chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/hook.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script>
        (function() {
          // INITIALIZATION OF NAVBAR
          // =======================================================
          new HSHeader('#header').init()
    
    
          // INITIALIZATION OF MEGA MENU
          // =======================================================
          const megaMenu = new HSMegaMenu('.js-mega-menu', {
            desktop: {
              position: 'left'
            }
          })
    
    
          // INITIALIZATION OF GO TO
          // =======================================================
          new HSGoTo('.js-go-to')
    
    
          // INITIALIZATION OF SWIPER
          // =======================================================
          var swiper = new Swiper('.js-swiper-clients',{
            slidesPerView: 2,
            breakpoints: {
              380: {
                slidesPerView: 3,
                spaceBetween: 15,
              },
              768: {
                slidesPerView: 4,
                spaceBetween: 15,
              },
              1024: {
                slidesPerView: 5,
                spaceBetween: 15,
              },
            },
          });
        })()

        var x = document.getElementsByClassName('navbar-toggler');
        console.log(x)
        x[0].addEventListener('click', (e)=>{
            var y = document.getElementsByClassName('navbar-collapse');
            console.log(e.target)
            setTimeout( ()=> {
                console.log(y[0].classList.contains('show'))
                if (y[0].classList.contains('show')){
                    
                    y[0].classList.remove('show')
                }else {
                    y[0].classList.add('show')
                }
            },500)
            

            
        })

      </script>
  </body>
</html>