{%  extends '../base.html' %}
{% load static %}

  {% block title %}
Register on Stoxa
  {% endblock %}

        {% block css %}
    <link rel="stylesheet" href="{% static 'auth/signup.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    {% endblock %}

        {% block content %}





<body>
    <header class="uk-container padding">
        <nav class="uk-flex uk-flex-between uk-flex-middle">
          <div class="uk-flex uk-flex-between uk-flex-middle logo">
            <div class="">
                <a href="../index.html">STOXA</a>
            </div>
            <div class="invr">
              <p class="uk-h6">Invest Right</p>
  
              <p class="uk-h6">Invest Now</p>
            </div>
          </div>
          <div class="uk-flex uk-flex-between uk-flex-middle nav-flex-item links">
            <div class="nav-flex-item">
              <a href="../login/login.html" class="uk-button uk-button-default btn">Login Now</a>
            </div>
            <div class="nav-flex-item">
              <span uk-icon="icon: search"></span>
            </div>
            <div class="nav-flex-item">
              <span uk-icon="icon: menu"></span>
            </div>
          </div>
        </nav>
      </header>
      
      <main>
        <section class="uk-padding form_section">
            <h1>Register an account</h1>
            <form method="post">
              {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="material-symbols-sharp uk-form-icon">
                            mail
                            </span>
                        <input name="email" class="uk-input uk-form-width-large uk-form-large input_padding" type="text" placeholder="E-mail"  aria-label="Not clickable icon">
                    </div>
                </div>
                
            
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="material-symbols-sharp uk-form-icon">
                            person
                            </span>
                        <input name="username" class="uk-input uk-form-width-large uk-form-large input_padding" type="text" placeholder="Full Name" aria-label="Not clickable icon">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="material-symbols-sharp uk-form-icon">
                            lock
                            </span>
                        <input name="password" class="uk-input uk-form-width-large uk-form-large input_padding" type="text" placeholder="Password" aria-label="Not clickable icon">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="material-symbols-sharp uk-form-icon">
                            lock
                            </span>
                        <input name="password2" class="uk-input uk-form-width-large uk-form-large input_padding" type="text" placeholder="Re-type Pasword" aria-label="Not clickable icon">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <input class="uk-input uk-form-width-large uk-form-large input_padding submit" type="submit" aria-label="Not clickable icon">
                    </div>
                </div>
            
            </form>
        </section>
      </main>
</body>
{% endblock %}
</html>